.normalize {
  padding: 0;
  margin: 0;
}

.landingSection {
  height: 100vh;
  width: 100%;
  min-width: 640px;
  min-height: 480px;
}

.landingSectionColumns {
  display: flex;
  flex-direction: column;
}

.landingSectionRows {
  display: flex;
  flex-direction: row;
}