.normalize {
  padding: 0;
  margin: 0;
}

.landing-section {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  min-width: 640px;
  min-height: 480px;
  overflow: hidden;
  box-sizing: border-box;
}

.columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.rows {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.is-half {
  display: flex;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.is-third {
  display: flex;
  flex: 0 0 33.3%;
  box-sizing: border-box;
}

.header-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 10vh;
  min-height: 70px;
  min-width: 640px;
  z-index:1000;
}

.left-side-header {
  display: flex;
  flex: 10;
  order: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #f00;
  height: 100%
}

.right-side-header {
  display: flex;
  flex: 10;
  order: 3;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #00f;
  height: 100%
}

.center-side-header {
  display: flex;
  flex: 3;
  order: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%
}

.header-logo {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  min-width: 100px;
  text-align: center;
  margin: 0em 1em 0em 1em
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  order: 1;
  min-width: 90px;
  width: 16%;
  margin: 0em 0.5em 0em 0.5em
}

.with-header {
  position: absolute;
  top: 10vh;
  height: calc(100vh - 10vh) !important;
}
/*
hamburger CSS
*/
.hamburger {
  display: none
}

@media (max-width: 780px) {
  .header-logo {
    background: #090;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    max-width: 100px;
    text-align: center;
    margin: 0em 1em 0em 1em
  }

  .hamburger {
    display: inline-block;
    height: 100%;
    width: 16%;
    max-width: 16%;
    min-width: 90px;
    border: none;
    cursor: pointer;
    padding: 0;
    flex: 1;
    order: 2;
    background-color: hsl(210, 79%, 44%);
    margin-left: 1em
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .header-item {
    display: none;
  }

  .header-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    height: 10vh;
    min-height: 70px;
    min-width: 640px;
    z-index:1000;
    padding: 0 1em 0 1em;
    box-sizing: border-box;
  }

  .right-side-header {
    display: none;
  }

  .left-side-header {
    display: none;
  }

  .center-side-header {
    display: flex;
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%
  }
}

@media (max-height: 700px) {
  .with-header {
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px) !important;
  }
}

.title {
  font-size: 3em;
  font-weight: bold;
}

.subtitle {
  font-size: 2.5em;
}

.text {
  font-size: 1em;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.button {
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  background-color: hsl(210, 79%, 46%);
  border-width: 0;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  transition: transform .2s ease-in-out ,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

.button-big {
  padding: 0.5em;
  font-size: 1.5em;
}

.button-medium {
  padding: 0.3;
  font-size: 1em;
}

.button-small {
  padding: 0,1em;
  font-size: 0.8em;
}

.button:hover {
  background-color: hsl(210, 79%, 44%);
  box-shadow: 2px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.button:active {
  background-color: hsl(210, 32%, 40%);
}

.block-title {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 10vh;
  min-height: 70px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: tomato;
}

.carousel {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.carousel-right-arrow {
  position: absolute;
  right: 0;
  height: 50px;

}

.carousel-left-arrow {
  position: absolute;
  left: 0;
  height: 50px;
}
.carousel-text {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  text-align: end;
}

.logos {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  flex: 1 1 25%;
  max-width: 25%;
  padding: 0 1em 0 1em;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item2x2 {
  display: flex;
  flex: 1 1 50%;
  height: 50%;
  max-height: 50%;
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid #000
}

.grid-item4x4 {
  display: flex;
  flex: 1 1 25%;
  height: 25%;
  max-height: 25%;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid #000
}

.media {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: violet;
  box-sizing: border-box;
}

.media-wrapper {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 90%;
  box-sizing: border-box;
}

.media-display {
  flex: 1 1 90%;
  background-color: black;
}

.media-thumbnails-wrapper {
  display: flex;
  flex: 1 1 15%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: teal;
}

.media-thumbnails {
  flex: 1 1 20%;
  width: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}

.social-media-wrapper {
  display: flex;
  flex: 1 1 10%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: slategray;
}

.newsletter {
  height: 10%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
  padding-left: 1em;
  box-sizing: border-box;
}

.text-input {
  margin: 0 1em 0 1em;
  border: solid 0px rgba(0, 0, 0, 0);
  box-shadow: hsla(0, 0, 0, 0);
  border-radius: 2px;
  background-color: #fff;
}

.text-input:active, .text-input:focus {
  outline: none;
}